*.psd filter=lfs diff=lfs merge=lfs -text
shamil/build/windows/x64/extracted/firebase_cpp_sdk_windows/libs/windows/VS2019/MD/x64/Debug/firebase_database.lib filter=lfs diff=lfs merge=lfs -text
*.apk filter=lfs diff=lfs merge=lfs -text
