<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    
    <!-- Override the conflicting maxSdkVersion value for WRITE_EXTERNAL_STORAGE -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:replace="android:maxSdkVersion" />

    <!-- The INTERNET permission is required for development -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
